@use "../../foundation/breakpoints" as bp;
// archiveとarchive-searchのtop部分
.p-archive-main__hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/archive_image_sp.svg");
  background-color: rgba($color: #000000, $alpha: 1.0);
  @include bp.bp(tab) {
    background-image: url("images/archive_image_tab.svg");
    flex-direction: inherit;
  }
  @include bp.bp(pc) {
    background-image: url("images/archive_image_pc.svg");
  }
  &__title {
    padding-top: 30%;
    padding-left: 37px;
    @include bp.bp(tab) {
      font-size: 60px;
      padding-top: 15%;
      padding-bottom: 15%;
      padding-left: 86px;
    }
    @include bp.bp(pc) {
      padding-top: 10%;
      padding-bottom: 10%;
    }
    &-sub {
      padding-bottom: 30%;
      padding-left: 37px;
      @include bp.bp(tab) {
        padding-left: 20px;
        padding-top: 15%;
        padding-bottom: 15%;
      }
      @include bp.bp(pc) {
        padding-top: 5%;
        padding-bottom: 5%;
      }
    }
  }
}
