.p-footer {
  text-align: center;
  padding-top: 40px;
  &__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    padding: 0;
    a {
      color: white;
    }
    &__partition {
      margin: 10px;
    }
  }
  &__cop {
    margin: 20px;
    font-size: 14px;
  }
}
/* test*/
