@use "../../foundation/breakpoints" as bp;

.p-pagination {
  font-family: "Roboto", "M+ 1m", sans-serif;
  @include bp.bp(tab) {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
    @include bp.bp(tab) {
      justify-content: center;
    }
    li:nth-child(1){ //何ページ目にいるかの記述
      display: none;
      @include bp.bp(tab) {
        display: inherit;
        font-weight: bold;
        color: #707070;
        margin-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 1px;
      }
    }
  }
  .page {
    display: none;
    @include bp.bp(tab) {
      font-weight: bold;
      display: inline-block;
      border: solid 0.1px #707070;
      background-color: white;
      width: 35px;
      height: 35px;
      margin-left: 8px;
      margin-right: 8px;
      text-align: center;
      display: block;
      line-height: 33px;
      transition: 0.3s;
    }
    &:hover{
      background-color: #3c2b1c;
      color: white;
      transition: 0.3s;
    }
  }
  .current {
    display: none;
    @include bp.bp(tab) {
      background-color: #3c2b1c;
      color: white;
      display: block;
      padding: 5px 13px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .previouspostslink {
    font-size: 20px;
    @include bp.bp(tab) {
      font-size: 0;
    }
    &::before{
    content: "";
    background: url(images/prev_icon.svg) no-repeat center center/auto 100%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    padding: 7px;
    }
  }
    .nextpostslink{
      font-size: 20px;
    @include bp.bp(tab) {
      font-size: 0;
    }
    &::after{
      content: "";
      background: url(images/next_icon.svg) no-repeat center center/auto 100%;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-left: 8px;
      margin-top: 10px;
      padding: 7px;
    }
  }
}