@use "../../foundation/breakpoints" as bp;
// singleとpageのtop部分
.p-single-main__hero {
  object-fit: cover;
  width: 100%;
  height: 225px;
  @include bp.bp(tab) {
    height: 500px;
  }
}
.p-new-hero{
  position: relative;
  &__title {
    position: absolute;
    top: 40%;
    left: 0;
    color: white;
    padding-left: 37px;
    @include bp.bp(tab) {
      font-size: 60px;
      padding-left: 50px;
    }
    @include bp.bp(pc) {
      padding-left: 86px;
    }
  }
}
