@use "../../foundation/breakpoints" as bp;
//sp:1列、tab:2列, pc:3列のレイアウト
.c-tile{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @include bp.bp(tab){
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp.bp(pc){
    grid-template-columns: repeat(3, 1fr);
  }
}