@use "../../foundation/breakpoints" as bp;
.c-button {
  /*search__buttonをベースに作成*/
  border-radius: 10px;
  border: solid 0.1px #707070;
  color: #707070;
  font-weight: bold;
  width: 30%;
  height: 46px;
  cursor: pointer;
  &--single {
    //single, pageに使用しているボタン
    background: linear-gradient(#f2ede9, #ded8d3);
    color: #3c2a10;
    width: 100%;
    height: 80px;
    @include bp.bp(tab) {
      width: 400px;
      height: 100px;
    }
  }
}
