// mainエリアの左右の余白
@use "../../foundation/breakpoints" as bp;
.c-container{
  padding: 20px;
  @include bp.bp(tab) {
    padding: 40px;
  }
  @include bp.bp(lpc) {
    padding: 80px;
  }
  &--archives{
    padding-bottom: 30px;
    @include bp.bp(lpc) {
      padding-bottom: 60px;
    }
  }
}