@use "../../foundation/breakpoints" as bp;
//縦軸の要素間の余白
.c-margin-30px--sp{
  margin: 30px 0;
}
.c-margin-30px--tab{
  @include bp.bp(tab){
    margin: 30px 0;
  }
}
.c-margin-30px--pc{
  @include bp.bp(pc){
    margin: 30px 0;
  }
}